/**********************************************************************************************************************\
|                                                    Navbar CSS                                                        |
\**********************************************************************************************************************/
.navbar {
    margin-bottom: 25px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: dimgrey;
}

.active {
    background-color: darkblue;
}

/**********************************************************************************************************************\
|                                                 Completion Form                                                      |
\**********************************************************************************************************************/
div #table_container {
    overflow-x: auto;
}

#contents input {
    color: transparent;
    text-shadow: 0 0 0 black;
}

#contents input:focus {
    outline: none !important;
    border: 2px solid black;
}